body{
    color: black;
    margin-left: 200px; /* Pour ne pas que le contenu passe sous le menu */
}


.menu-vertical {
    color: black;
    position: fixed;
    left: 0;
    top: 0;
    width: 150px;
    height: 100vh;
    background-color: white;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: start;
    border-right: 1px solid rgba(0, 0, 0, 0.150);
}

.menu-vertical h1 {
    font-style: italic;
    font-weight: bold;
    margin-bottom: 20px;
    color: black;
    margin-bottom: 150px;
    border-left: 1px solid rgba(0, 0, 0, 0.50);
    border-right: 1px solid rgba(0, 0, 0, 0.50);
    padding : 10px;
}

.menu-vertical .nav {    
    color : black;
    margin: 5px;
    padding: 10px;
    text-decoration: none;

    margin-bottom: 10px;
    width: 100px;
    font-weight: bold;
    border-color: black;
    border-bottom: 1px solid rgba(0, 0, 0, 0.150);
}

.cv{
    color : black;
    margin: 5px;
    padding: 10px;
    text-decoration: none;

    margin-top: 400px;
    width: 100px;
    font-weight: bold;
    border-color: black;
    border-bottom: 1px solid rgba(0, 0, 0, 0.178);
}

.titre{
    margin-top: 100px;
    margin-left: 150px;
}